/* Variables */

:root {
    --primary-blue: #037bc0;
    --black: #201e1c;
    --just-white: #fff;
    --just-green: #8cbc00;
    --hover-green: #769c02;
}

/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3{ 
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: var(--just-green);
    display: block;
    color: var(--just-white);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: var(--hover-green);
}

/* Utilidades */

.text-center {
    text-align: center;
}

/* Header y navegacion */

.site-name {
    margin-top: 5rem;
    text-align: center;
}

.site-name span {
    color: var(--primary-blue);
}

.nav-container {
    border-top: 1px solid var(--black);
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-principal a::before {
    transform-origin: right;
}

.nav-principal a:hover{
    color: var(--primary-blue);
    text-decoration: underline 1px solid;
    text-underline-offset: 0.4em;
    transition: all 0.45s ;       
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
    background-position: center center;
}

/* CATEGORIAS */

.categories-container {
    padding: 5rem 0;
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.category a {
    text-align: center;
    display: block;
    font-size: 2rem;
    padding: 2rem;
}

.category a:hover {
    background-color: var(--primary-blue);
    color: var(--just-white);
    border-bottom-right-radius: 1rem;
}

/* Seccion sobrenosotros */

.about-container {
    background-image: linear-gradient(to right, transparent 50%, var(--primary-blue) 50%, var(--primary-blue) 100%), url(../img/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
}

.about-us-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
}

.about-us-text {
    grid-column: 2 / 3;
    color: var(--just-white);
}

/* Listado de productos */

.main-container {
    padding-top: 5rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.product-card {
    background-color: var(--primary-blue);
}

.product-card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-card:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.product-card:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.product-card:nth-child(2) img,
.product-card:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.product-card:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

.product-card:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.product-card:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.product-card:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}

.product-info {
    text-align: center;
    color: var(--just-white);
    padding: 2rem;
}

.product-info h3 {
    margin: 0;
}

.product-info p {
    margin: 0 0 .5rem 0;
}

.product-info .price {
    font-size: 2.8rem;
    font-weight: 900;
}
